<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>MapChimp - Map Your Audience</title>
  <link rel="stylesheet" href="/assets/all.css">
</head>

<body>
  <div id="page">
    <%= yield %>
  </div>
</body>

</html>
